---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCIE = [
    {
        date: 'jun. 2025 - actualidad',
        title: 'Ingeniero de software',
        company: 'Tecnología de Gestión y Comunicación',
        description: 'Desarrollo de aplicaciones web con Oracle APEX y React, integrando interfaces modernas y lógica empresarial, enfocadas en el rendimiento, la escalabilidad y la experiencia del usuario.',
        
    },
    {
        date: 'jul. 2022 - jun. 2025',
        title: 'Consultor de mesa de ayuda',
        company: 'Tecnología de Gestión y Comunicación',
        description: 'Primer contacto de soporte técnico, asegurando una experiencia de usuario óptima. Manejo y resolución de incidencias utilizando Jira. Identificación de tendencias en incidentes para proponer soluciones preventivas.',
        
    },
    {
        date: 'ago. 2019 - julio 2022',
        title: 'Instructor de capacitación',
        company: 'Profuturo Afore',
        description: 'Creación y ejecución de programas formativos para equipos comerciales. Fomento de la mejora continua mediante actualización en procesos tecnológicos.',
        
    },
    {
        date: 'mayo 2015 - julio 2019',
        title: 'Asesor patrimonial',
        company: 'Profuturo Afore',
        description: 'Brindé asesoramiento financiero personalizado a clientes corporativos para planificar sus retiros e inversiones. Promoví productos y servicios adaptados a las necesidades de cada cliente, fortaleciendo la relación con la empresa.',
        
    }
]
---
<ol class="relative mt-16">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="">
          <ExperienceItems {...experiencie} />
        </li>
      ))
    }
  </ol>
