<header class="flex justify-center items-center py-5 w-full xl:w-[1140px] mx-auto">
    <nav class="flex-row gap-x-10 opacity-80">
        <a class="px-1 md:px-7 lg:px-11" href="#top">Inicio</a>
        <a class="px-1 md:px-7 lg:px-11" href="#experiencia">Experiencia</a>
        <a class="px-1 md:px-7 lg:px-11" href="#proyectos">Proyectos</a>
        <a class="px-1 md:px-7 lg:px-11" href="#about">Sobre mí</a>
        <a class="px-1 md:px-7 lg:px-11" href="#contacto">Contacto</a>
    </nav>
</header>