---
const personalImageAlt = "Erick Hernández"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedInIcon.astro"
import MailIcon from "../components/icons/MailIcon.astro"
import SocialPill from "../components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
  <img
        class="rounded-full shadow-lg size-20"
        src="/me.webp"
        alt={personalImageAlt}
      />
      <a
      href="https://linkedin.com/in/erhg"
      target="_blank"
      rel="noopener"
      class="flex items-center transition justify-center hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl text-white">Hola! soy Erick</h1>
  <p class="mt-6 text-xl [&>strong]:text-green-400 [&>strong]:font-semibold text-gray-300">Ingeniero de Software y <strong >Desarrollador Web</strong> con sede en Chihuahua, México. Especializado en detectar y solucionar problemas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:erhgdev@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/erhg">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>